@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    font-family: "Inter";
    color: black;
}

body {
    background: rgb(186, 54, 184);
    background: radial-gradient(circle, rgba(186, 54, 184, 0.16523105824360995) 0%, rgba(6, 83, 170, 0.21004898541447825) 48%, rgba(54, 160, 186, 0.207247864966299) 70%, rgba(246, 194, 171, 0.22685570810355393) 89%);
    /* overflow: hidden; */
}

